{% extends "base.html" %}

{% block title %}
    {% if object %}
     Ubah Konten "{{ object.title }}"
     {% else %}
     Buat Konten Baru
     {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            Ubah Konten "{{ object.title }}"
        {% else %}
            Tambah Konten Baru
        {% endif %}
    </h1>
    <div class="modul">
        <h2>Info Kursus</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Simpan Konten"></p>
        </form>
    </div>
{% endblock %}