{% extends "base.html" %}

{% block title%}Kursus Saya{% endblock %}

{% block content %}
    <h1>Kursus Saya</h1>

    <div class="modul">
        {% for course in object_list %}
        <div class="course-info">
            <h3>{{ course.title }}</h3>
            <p>
                <a href="{% url "course_edit" course.id %}">Ubah</a>
                <a href="{% url "course_delete" course.id %}">Hapus</a>
                <a href="{% url "course_module_update" course.id %}">Ubah Modul</a>
                {% if course.module.count > 0 %}
                    <a href="{% url "module_content_list" course.modules.first.id %}">Manage Konten</a>
                {% endif %}
            </p>
         </div>
         {% empty %}
            <p>Anda belum membuat kursus</p>
         {% endfor %}
         <p>
            <a href="{% url "kursus_create" %}" class="button">Buat Kursus Baru</a>
         </p>
    </div>
{% endblock %}
